body {
	--pagebackground : #020300;
	--containerbackground : #051622;
	--highlight : #1ba098;
	--textcolor : #deb992;
	--socialcolor : #deb992;
	background-color: var(--pagebackground);
    font-family: 'Inconsolata', monospace;
    color: var(--textcolor);
    text-align: center;
}

#ui_notifIt.arrow{
    background-color: var(--textcolor);
	color: var(--highlight);
}

ul {
	list-style: none;
  padding-left: 0;
}

.diff_cs {
	color: var(--socialcolor);
	padding-top: 20px;
	font-size: 22px;
}

.colorschemes {
	width : 20px;
	display: inline;
}

.colorschemes:hover {
	cursor: pointer;
}

.profile_pic {
	border-radius: 50%;
	width: 150px;
	padding: 5px;
   	border: 5px solid transparent;
   	border: 5px solid var(--highlight);
   	background-color:transparent;
}

.highlighted {
	color: var(--highlight);
}

.description {
	padding-top: 5px;
	border-radius: 5%;
	padding: 5px;
	background-color: var(--containerbackground);
	display: inline-block;
	color: var(--textcolor);
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	height: 50%;
	width: 60%;
	min-width: 350px;
	font-size: 18px;
}

.description a {
	color: var(--textcolor);
}

.description a:link {
	color: var(--textcolor);
}

.description a:visited {
	color: var(--textcolor);
}

.description a:active {
	color: var(--textcolor);
}

.description a:hover {
	background-color: var(--highlight);
	color: var(--textcolor);
}

.social {
	border-radius: 25%;
	padding: 5px;
	color: var(--pagebackground);
	color: var(--socialcolor);
	font-size: 30px;
}

.social:hover {
	border-radius: 25%;
	padding: 5px;
	color: var(--highlight);
	background-color: var(--containerbackground);
}

.social_row {
	padding-top: 5px;
}

.social_row li {
	display: inline;
	padding: 10px;
}

.project_list li {
	display: block;
}

.project_cat {
	text-decoration: none;
	border: none;
	background-color: transparent;
	color: var(--textcolor);
}

.project_cat i {
	font-size: 40px;
}

.project_cat p {
	display: block;
}

.project_cat:hover {
	text-decoration: none;
	border: none;
	background-color: transparent;
	color: var(--highlight);
}

.project_cat i:hover + p {
	display: block;
}

.project_overview {
	padding-top: 10px;
	display: block;
}

.web_projects {
	display: none;
}

.ml_projects {
	display: none;
}

.cs_projects {
	display: none;
}

.gs_projects {
	display: none;
}

.la_projects {
	display: none;
}

.net_projects {
	display: none;
}

.proj_links a {
	padding: 5px;
	border: 1px solid var(--textcolor);
}

.control_button {
	font-family: 'Bangers', cursive;
	padding-bottom: 1vh;
}

.control_button i {
	font-size: 18px;
}

.link_row {
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

.link_row li {
	display: inline-block;
	margin: 0.5em;
}

.link_btn {
	font-family: 'Bangers', cursive;
	font-size: 25px;
	padding: 5px;
	background-color: transparent;
	color: var(--textcolor);
	text-decoration: none;
	border: none;
}

.link_btn:hover {
	cursor: pointer;
	font-size: 25px;
	padding: 5px;
	background-color: var(--transparent);
	color: var(--highlight);
	text-decoration: none;
}

.skill_row {
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

.skill_row li {
	margin: 0.5em;
}

.skill_title {
	color: var(--highlight);
}

#home {
	display: inline-block;
}

#projects {
	display: none;
}

#skills {
	display: none;
}

#references {
	display: none;
}

#resume {
	display: none;
}
