body {
	--pagebackground : #020300;
	--containerbackground : #59544b;
	--highlight : #79a9d1;
	--textcolor : #7d8ca3;
	background-color: var(--pagebackground);
    font-family: 'Inconsolata', monospace;
    color: var(--textcolor);
    text-align: center;
}

.center_container {
	padding-top: 10vh;
	display: inline-block;
	text-align: center; 
	min-width: 200px;
	max-width: 1500px;
}

.profile_pic {
	border-radius: 50%;
	width: 150px;
	padding: 5px;
   	border: 5px solid transparent;
   	border: 5px solid var(--highlight);
   	background-color:transparent;
}

.highlighted {
	color: var(--highlight);
}

.description {
	border-radius: 5%;
	padding: 5px;
	background-color: var(--containerbackground);
	display: inline-block;
	color: var(--textcolor);
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	height: 50%;
	width: 50%;
	min-width: 300px;
	font-size: 18px;
}

.description a {
	color: var(--textcolor);
}

.description a:link {
	color: var(--textcolor);
}

.description a:visited {
	color: var(--textcolor);
}

.description a:active {
	color: var(--textcolor);
}

.description a:hover {
	background-color: var(--textcolor);
	color: var(--containerbackground);
}

.social {
	border-radius: 25%;
	padding: 5px;
	color: var(--highlight);
	font-size: 30px;
}

.social:hover {
	border-radius: 25%;
	padding: 5px;
	color: var(--pagebackground);
	background-color: var(--highlight);
}

.social_row {
	padding-top: 5px;
}

.social_row li {
	display: inline;
	padding: 10px;
}

.link_btn:hover {
	
}

.link_row {
	padding-top: 5px;
}

.link_row li {
	border-radius: 25%;
	color: var(--pagebackground);
	background-color: var(--highlight);
	display: inline;
	padding: 10px;
}

.link_row li a {
	text-decoration: none;
}